.range {
  flex-grow: 1;
  margin: 0 10%;

  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86%;
    height: 6px;
    background-image: linear-gradient(90deg, $accent-color 0%, $accent-color 0%, #fff 0%);
    border-radius: 6px;
    outline: none;
    transform: translate(-50%, -50%);
    appearance: none;

    @media ($tablet) {
      height: 6px;
      background: #dcdcdc;
      border-radius: 3px;
    }

    @include range-track {
      visibility: hidden;
    }

    @media ($tablet) {
      @include range-track {
        appearance: none;
        width: 34px;
        height: 34px;
        visibility: visible;
        background-image: radial-gradient(circle at center, $accent-color 0, $accent-color 4px, #fff 4px, );
        border: 1px solid #cdcdcd;
        border-radius: 50%;
      }
    }
  }

  &__wrapper {
    position: relative;
    height: 14px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;

    @media ($tablet) {
      height: auto;
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }

}
