.radio {
  &__elem {
    width: 30px;
    height: 30px;
    padding: 8.5px;
    margin-right: 25px;
    background: none;
    border: 1px solid $first-bd;
    border-radius: 50%;

    @media ($tablet) {
      width: 40px;
      height: 40px;
      padding: 10px;
      margin-right: 20px;
    }
  }

  &__label {
    font-family: $def-font;
    font-size: 20px;
    font-weight: 400;
    color: #222;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__input {
    display: none;

    &:checked {
      + .radio__inner {
        .radio__elem {
          background: $accent-color;
          background-clip: content-box;

          @media ($tablet) {
            background: $accent-color;
            background-clip: content-box;
          }
        }
      }
    }
  }
}
