.checkbox {
  &__elem {
    width: 30px;
    height: 30px;
    padding: 8.5px;
    margin-right: 25px;
    background: none;
    border: 1px solid $first-bd;

    @media ($tablet) {
      width: 40px;
      height: 40px;
      padding: 10px;
      margin-right: 20px;
    }

    svg {
      display: none;
    }
  }

  &__label {
    font-family: $def-font;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    text-transform: uppercase;

    @media ($tablet) {
      font-size: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__input {
    display: none;

    &:checked {
      + .checkbox__inner {
        .checkbox__elem svg {
          display: block;
        }
      }
    }
  }
}
