.section {
  position: relative;
  padding: 25px 0;
  margin-top: 40px;
  border-top: 3px solid $accent-color;

  &--no-bd {
    border-top: none;
    border-bottom: 1px solid #ededed;

    @media ($tablet) {
      border-bottom: none;
    }

    .section__content {
      margin-top: 0;
    }
  }

  &--bordered {
    .section__border {
      @media ($tablet) {
        padding: 25px;
        border: 1px solid #ededed;
      }

      @media ($desktop) {
        width: 100%;
      }
    }
  }

  &__inner {
    @extend %container;
  }

  &__content {
    margin-top: 65px;

    &--near {
      margin-top: 40px;
    }

    @media ($tablet) {
      padding: 0 4.5%;
    }

    @media ($desktop) {
      padding: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    z-index: 20;
    box-sizing: content-box;
    display: inline-block;
    max-width: 220px;
    padding: 0 9%;
    font-family: $def-font;
    font-size: 24px;
    font-weight: 400;
    color: #111;
    background-color: #fff;
    transform: translateY(-50%);

    @media ($tablet) {
      left: 6.25%;
      max-width: 590px;
      padding: 0 6%;
      font-size: 36px;
    }
  }
}
