.more-product {
  padding: 15px 0;
  border-top: 1px solid $first-bd;

  @media ($tablet) {
    padding: 25px 0;
  }

  &:last-child {
    border-bottom: 1px solid $first-bd;
  }

  @media ($desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__inner {
    margin-bottom: 15px;

    @media ($tablet) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @media ($desktop) {
      flex-basis: 70%;
      margin-bottom: 0;
    }
  }

  &__char {
    white-space: nowrap;

    @media ($tablet) {
      padding-right: 21%;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-family: $def-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #222;
    text-transform: uppercase;

    @media ($tablet) {
      margin: 0;
    }
  }

  &__button {
    @media ($desktop) {
      flex-grow: 1;
      margin-left: 4.5%;
    }
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #444;
  }
}
