.result {
  border: 1px solid $first-bd;
  border-radius: 4px;

  &__inner {
    position: relative;
    padding: 17px 0;
  }

  &__number {
    font-family: $def-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
  }

  &__desc {
    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 200;
    width: 65%;
    font-family: "Arial MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #444;
    text-align: center;
    background-color: $card-bg-color;
    transform: translate(50%, 50%);

    @media ($tablet) {
      font-size: 14px;
    }
  }
}
