*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  @extend %sticky-footer-page;
}
