@import "helpers/index";
@import "global";
@import "typografy/oswald";

// blocks
@import "../blocks/card/card";
@import "../blocks/benefits/benefits";
@import "../blocks/hero/style";
@import "../blocks/howItWorks/style";
